<span class="p-input-icon-left">
  <button (click)="showDialog('right')" pButton class="home-plus p-button-sm">
    <i class="fa fa-filter"></i>
  </button>

    <p-dialog header="Filtro por Status" [(visible)]="visible" [position]="position" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
      <div class="flex align-items-center gap-2 mb-2 mt-2">
        <p-checkbox name="group1" value="1" [(ngModel)]="selectedStatus" (ngModelChange)="sendSelectStatus()" inputId="ny" icon="pi pi-check"></p-checkbox>
        <label for="ny">Pendente</label>
      </div>

      <div class="flex align-items-center gap-2 mb-2 mt-2">
        <p-checkbox name="group1" value="2" [(ngModel)]="selectedStatus" (ngModelChange)="sendSelectStatus()" inputId="sf" icon="pi pi-check"></p-checkbox>
        <label for="sf">Em Progresso</label>
      </div>

      <div class="flex align-items-center gap-2 mb-2 mt-2">
        <p-checkbox name="group1" value="3" [(ngModel)]="selectedStatus" (ngModelChange)="sendSelectStatus()" inputId="la" icon="pi pi-check"></p-checkbox>
        <label for="la">Concluída</label>
      </div>
    </p-dialog>

</span>