<div class="home-element">
  <p-card>
    <div class="home-container">
      <button pButton class="home-plus p-button-sm" routerLink="maxprocess">
        <i class="fa-regular fa-plus home-plus-icon"></i>
      </button>

      <div class="home-glass">
        <app-filter (eventStatusChildren)="eventStatus($event)"></app-filter>
      </div>
    </div>

    <app-panel [tasks]="filteredTasks ? filteredTasks : tasks"></app-panel>
    <p-paginator (onPageChange)="onPageChange($event)" [rows]="6" [totalRecords]="totalItens"></p-paginator>
  </p-card>
</div>
