@mixin flex {
  display: flex;
  justify-content: center;
}

.home-element{
  padding: 3rem;
}

.home-container {
  margin: 0 auto;
  width: 82%;
}

.home-glass {
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  float:right;
  cursor: pointer;
  transition: 0.7s ease;
}
.home-plus {
  float:right; 
  cursor: pointer;
  transition: 0.7s ease;
  
}


