<div class="panel grid">
  <div *ngIf="loading$ | async">
    <app-loading-overlay [isLoading]="loading$"></app-loading-overlay>
  </div>
  <p-panel class="col-12 sm:col-6 md:col-6 lg:col-4" *ngFor="let task of tasks">
    <ng-template pTemplate="header">
      <div class="header-panel">
        <span>{{ task.title }}</span>
        <p-tag severity="danger" *ngIf="task.status.type == '1'">
          {{ task.status.label }}
        </p-tag>
        <p-tag *ngIf="task.status.type == '2'">
          {{ task.status.label }}
        </p-tag>
        <p-tag severity="success" *ngIf="task.status.type == '3'">
          {{ task.status.label }}
        </p-tag>
      </div>
    </ng-template>

    <ng-template pTemplate="body">
      <div class="body-panel-text">
        {{ task.description }}
      </div>

      <div class="body-panel-icons">
        <i class="fa-solid fa-pencil" (click)="onUpdate(task)"></i>
        <i
          (click)="onDelete(task.id!)"
          class="fa-solid fa-trash"
          style="color: #dc3545"
        ></i>
      </div>
    </ng-template>
  </p-panel>
</div>
