$white: #fff;

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-header {
  @include flex;
  background-color: $white;
  height: 5rem;
}

.p-tabmenu {
  background-color: red;
}
